@import "tailwindcss";
:root {
  --font-sans: var(--font-vazir), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-vazir), ui-sans-serif, system-ui, sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
html {
  scrollbar-width: thin;
  scrollbar-color: rgba(148, 163, 184, 0.7) transparent;
}
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.7);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 130, 246, 0.8);
}